ol{
  list-style: none;
}
.week,.days{
  padding-left: 0px;
  margin:0px;
}
.scheadule_text{
  font-size: 15px;
}
#date,#data{
  margin: 0;
  margin-right: 5px;
  float: left;
}
#data{
  margin: 0;
}
#loading {
	height: 100%;
	left: 0px;
	position: fixed;
	_position:absolute; 
	top: 0px;
	width: 100%;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity : 0.5;
}

.loading {
	background-color: darkgrey;
	z-index: 199;
}

#loading_img{
	
	position:absolute; 
	top:50%;
	left:50%;
	height:300px;
	margin-top:-175px; 
	margin-left:-175px;
	z-index: 200; 
}
a:hover { color: black; text-decoration: underline;}
  .card {
    border-radius: 2px;
    border-top: 1px solid #34495e;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 30px;
	}
	.form-control-inverse {
    border-color: #dcdcdc;
	}
	.form-control {
    font-size: 14px;
    border-radius: 1px;
    border-width: 1px;
	}
